*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
}

input,
select {
  font-size: inherit;
  font-family: inherit;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
  width: 100%;
}

input {
  outline: none;
  appearance: none;
}

input:focus {
  border-color: #07d;
}

form {
  margin: 11px 0;
}

label {
  display: block;
}

form > div {
  margin: 19px 0;
  max-width: 700px;
}

.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px;
}

form > div:last-child {
  display: grid;
  justify-content: end;
  align-items: center;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 7px;
  border: 1px solid #000;
  border-radius: 0;
}
